* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  accent-color: #587b7f;
  outline: none;
}

header {
  background-color: #d3d0cb;
  padding: 1em 0;
  height: 200px;
  text-align: center;
}

#logo {
  padding-bottom: 1em;
  height: 150px;
}

a {
  color: #d3d0cb
}

nav a{
  padding: 0 1em 1em 1em;
  color: black;
  text-decoration: none;
}

a:hover{
  font-weight: bold;
  text-decoration: underline;
}

main {
  background-color: #1e2019;
  height: calc(100vH - 200px);
  text-align: center;
}

h1, h3, p {
  color: #d3d0cb;
}

h1, h3 {
  padding: 1em 0 0.5em;
}

form {
  border: 1px solid white;
  border-radius: 5px;
  padding-top: 1em;
  width: 50%;
  margin: 0 auto;
}

form p {
  padding-bottom: 1em;
}

#text-textarea {
  padding-bottom: 0.5em;
}

input {
  text-align: left;
}

input[type="submit"] {
  padding: 0.5em 1em;
  background-color: #e2c044d8;
  border-color: white;
  border-radius: 3px;
  cursor: pointer;
}

input[type="text"],
input[type="email"] {
  width: 20em;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
textarea:focus {
  box-shadow: 0 0 5px #e2c044d8;
  border: 1px solid #e2c044d8;
}

textarea::placeholder {
  padding: 0 0.5em;
}

input:checked + label {
  font-weight: bold;
}

main a:active {
  color: #e2c044d8;
}

input[type="email"]:invalid {
  background-color: red;
}